@font-face {
  font-family: GoogleSans;
  src: url(../src/assets/font/GoogleSansDisplay-Regular-v1.27.ttf);
}

body {
  overflow-x: hidden;
  font-family: GoogleSans;
}

.top-banner {
  background-color: #584056;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}